<!doctype html>

<html>

    <head>
        <title>Application - VEGAS JS Skeleton</title>

        <meta name="description" content="Application example based on VEGAS JS">

        <meta charset="UTF-8">

        <script src="./js/application.min.js?v={{ version }}" charset="utf-8"></script>
    </head>

    <body>

        <script>

        window.onload = application.main ;

        </script>

    </body>

</html>